<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Planted.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DF0895E3241D61D300C31261</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF0895FC241D61D500C31261</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF089607241D61D500C31261</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF08961D241D620100C31261</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
